<% extend("../app.ejs") %>
<section class="detail-nav">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="menu-title text-decoration-none">
                        <a href="/" class="text-decoration-none">
                            <img class="menu-nav" src="/images/background/smile.png" alt="img logo">
                            <span class="text-decoration-none">Doctors Care </span>
                        </a>
                    </div>
                </div>
                <div class="col-8 d-flex flex-row justify-content-center align-self-center menu-type">
                    <span class="d-block"><a href="/" class="text-decoration-none">Trang chủ</a></span>
                    <span class="d-block mx-5"><a href="/for-patients" class="text-decoration-none">Cho bệnh nhân</a></span>
                    <span class="d-block"><a href="/for-doctors" class="text-decoration-none">Cho bác sĩ</a></span>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <span><a href="" target="_blank" class="text-decoration-none">Cần hỗ trợ?</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-info-specialization">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <a class="text-decoration-none" href="/">Homepage </a><span aria-hidden="true">&raquo;</span>
                    <span style="text-transform: uppercase">
                        Gửi đánh giá
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-info-clinic mt-3">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    <h2>Gửi đánh giá sau khi đi khám bác sĩ</h2>
                    <hr>
                    <div>
                        Đánh giá của bạn sẽ giúp người khác dễ dàng chọn đúng bác sĩ hơn.                </div>
                    <div class="mt-2">
                        Vui lòng tham khảo ý kiến bác sĩ sau khi tham khảo ý kiến bác sĩ: <%= doctor.name %>
                    </div>
                    <form id="formFeedBack">
                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="feedbackName"> Tất cả </label>
                                <input class="form-control" name="feedbackName" id="feedbackName" type="text"
                                       placeholder="Full name (required)">
                            </div>
                            <div class="col">
                                <label for="feedbackPhone">Số điện thoại</label>
                                <input class="form-control" name="feedbackPhone" id="feedbackPhone" type="text"
                                       placeholder="Phone number (required)">
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="feedbackContent">Nội dung</label>
                            <textarea class="form-control" name="feedbackContent" id="feedbackContent"
                                      type="text"></textarea>
                        </div>
                        <div class="mb-4">
                            <button type="button" class="btn btn-primary" data-doctor-id="<%= doctor.id %>" id="sendFeedback">Đánh giá</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
